@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700,700i');


@font-face{
	font-family: 'SF Sans Pro';
	src: url("../fonts/SF-Pro-Display-Heavy.otf") format("opentype");
}
@font-face{
	font-family: 'SF Sans Pro Regular';
	src: url("../fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

body {
	width: 100%;
	margin: 0;
	padding: 0;

}

p {
	margin: 0;
	padding: 0;
}

.content{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

header {
	background-color: rgba(25,25,25,0);
	width: 100%;
	position: absolute;
	top: 0;
	height: 100px;
	z-index: 999;
}

.first-screen .third-screen .fourth-screen {
	height: 25%;
	background-color: #ffffff;
}

.second-screen {
	background-color: #f16921; 
}


div {
	margin: 0;
}

.fullpage {
	height: 100%;
	margin: 0;
	width: 100%;
}

.logo {
	width: 148px;
	height: 38px;
	position: absolute;
	top: 50px;
	float:left;
}

.contacts-top {
	position: absolute;
	top: 40px;
	right: 0%;
	float:right;
	text-align: right;
}


.contacts-top p {
	/*font-size: 1.125em;*/
	font-size: 16px;
	font-family: 'PT Sans', Arial, monospace;
	font-weight: bold;
	line-height: 1.5;
	letter-spacing: normal;
	font-style: normal;
	color: #ffffff;
}

.contacts-top p:last-child{
	margin-top: 8px;
}

img {
	width: 100%;
	max-width: 100%;
}

.first-page-content{
	height: 274px;
	width: 674px;
	position: absolute;
	top: 28.266666%;
}

.slogan {
	height: 180px;
	width: 674px;
	color: #ffffff;

}

.slogan p {
	font-family: 'SF Sans Pro', Arial, monospace;
	font-size: 72px;
	font-weight: 900;
	line-height: 1.25;
	font-style: normal;
	letter-spacing: normal;
}

.video-button-wrapper {
	position: relative;
	top:30px;
	width: 250px;
	height: 64px;
	overflow: hidden;
	border: 0px solid transparent;
	background-color: rgba(179, 78, 24, 0.19);
	border-radius: 32px;
	z-index: 98;
}
.video-button{
	position: absolute;
	width: 100%;
	height: 100%;
	color: #ffffff;
	text-decoration: none;
	user-select: none;
  	text-align: center;
  	outline: none;
  	font-family: 'PT Sans', Arial, monospace;
  	font-size: 22px;
  	font-weight: bold;
  	font-stretch: normal;
  	line-height: 1.36;
  	letter-spacing: normal;
  	z-index: 100;
  	background: none;
  	border: none;
  	cursor: pointer;
	box-shadow: none;
}



.first-screen{
	background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),linear-gradient(299deg, rgba(255, 255, 255, 0.5), rgba(241, 105, 33, 0.4)), url(../images/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.mouse {
	width: 50px;
	height: 80px;
	position: absolute;
	top: 80.8%;
	border: 2px solid #ffffff;
	border-radius: 25px;
}

.mouse-wheel{
	width: 4px;
	height: 9px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border-radius:2px;
	animation: scroll 1.5s infinite linear;

}

@keyframes scroll {
	from  {
		margin-top: 25%;
	}
	
	75%{
		margin-top: 25%;
		transform: translateY(70%);
	}

	to {
		margin-top: 25%;
		transform: translateY(70%);
		
	}
}

.text-wrapper {
	width: 640px;
	height: 239px;
	position: absolute;
	top: 24.266666%;

}

.text-wrapper-2 {
	width: 640px;
	height: 446px;
	position: absolute;
	top: 24.266666%;
	display: none;
}

.text-wrapper-3 {
	width: 640px;
	height: 350px;
	position: absolute;
	top: 24.266666%;
	display: none;
}

.text-header {
	color: #ffffff;
	font-family: 'SF Sans Pro', Arial, monospace;
	font-size: 72px;
	font-weight: 900;
	line-height: 1.25;
	letter-spacing: normal;
	font-style: normal;
}

.content-text {
	color: #ffffff;
	font-family:'Source Sans Pro', Arial, monospace;
	font-size: 32px;
	font-weight: 600;
	line-height: 1.5;
	font-style: normal;
	letter-spacing: 0.5px;
}

.text-wrapper p:nth-child(2), .text-wrapper-2 p:nth-child(2), .text-wrapper-3 p:nth-child(2) {
	margin-top: 20px;
}

.image-wrapper {
	width: 480px;
	height: 480px;
	position: absolute;
	top: 24.266666%;
	right: 0;
	background-color: #ffffff;
	box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5%;
	overflow: hidden;
}

.slide-image {
	width: 100%;
	height: 100%;
	display: block;
	background-image: linear-gradient(311deg, #ffffff, #f16921);
	
}

.carousel {
	width: 360px;
	height: 360px;
	margin: 60px;
	border-radius: 5%;
	overflow: hidden;
}

ul {
	height: 100%;
	width: 300%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	transition: margin-left 400ms;
}

.carousel li {
	display: inline-block;
	position: relative;
	height: 100%;
	width: 33.33333%;

}

.wrapper-third {
	position: relative;
	top: 21.066666%;
	width: 100%;
	height: 504px;
}

.description {
	width: 552px;
	height: 168px;
	position: absolute;
	right: 0%;
}

.description p {
	font-family: 'Source Sans Pro', Arial, monospace;
	font-size: 18px;
	color: #828794;
	font-weight: normal;
	font-style: normal;
	line-height: 1.56;
	letter-spacing: normal;
}

.description p:last-child {
	margin-top: 18px;
}

.price-bold {
	height: 232px;
	width: 552px;
}
.price-bold>p:first-child {
	font-family: 'SF Sans Pro', Arial, monospace;
	font-size: 52px;
	font-weight: 900;
	line-height: 1.31;
	font-style: normal;
	letter-spacing: normal;
	color: #050f29;
}

.price-bold>p:last-child {
	position: relative;
	top: 48px;
	font-family: 'SF Sans Pro', Arial, monospace;
	font-size: 32px;
	font-weight: 900;
	line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
	color: #050f29;
}

.top-price {
	margin-top: 16px;
	width: 370px;
	height: 72px;
}

.bot-price {
	
	margin-top: 24px;
	width: 679px;
	height: 72px;
}

.top-price div, .bot-price div {
	display: inline-block;
}

.eight-sessions {
	margin-left: 83px;
}

 .single {
	margin-left: 159px;
}

.twelve-sessions {
	margin-left: 88px;
}

.price-header {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	color: #828794;
	margin-bottom: 8px;

}

.top-price span, .bot-price span {
	font-family: 'SF Sans Pro', sans-serif;
	font-size: 36px;
	font-weight: 900;
	font-style: normal;
	line-height: 1.11;
	letter-spacing: normal;
	color: #050f29;
}

.bot-price div>p:last-child {
	font-family: 'SF Sans Pro Regular', sans-serif;
	font-size: 22px;
	font-weight: 600;
	font-style: normal;
	line-height: 1.82;
	letter-spacing: normal;
	color: #050f29;
}

.four-sessions {
	width: 173px;
}

.trial {
	width: 97px;
}

.book-button {
	margin-top: 48px;
	cursor: pointer;
	position: absolute;
	height: 64px;
	width: 256px;
	background-image: linear-gradient(104deg, #ffa62e, #fb962e 20%, #f8852e 40%, #f3742d 60%, #ef612d 80%, #ea4d2c);
	border-radius: 32px;
	box-shadow: 0 15px 60px -20px #ef612d;
}

.circle {
	position: absolute;
	right: 12px;
	top: 12px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	background-image: url(../images/arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.book-button span {
	position: relative;
	top: 16px;
	left: 34px;
	font-family: 'PT Sans', sans-serif;
	font-size: 22px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	font-style: normal;
	line-height: 1.36;
	letter-spacing: normal;
	color: #ffffff;

}

form div {
	display: inline-block;
}

.fourth-content {
	position: relative;
	top: 27.2%;
	width: 100%;
	height: 320px;
}
.fourth-screen p:first-child {
	font-family: 'SF Sans Pro', sans-serif;
	font-size: 52px;
	font-weight: 900;
	font-style: normal;
	line-height: 1.31;
	letter-spacing: normal;
	color: #050f29;

}

.fourth-screen p:nth-child(2) {
	font-family: 'SF Sans Pro', sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 32px;
	line-height: 1.5;
	letter-spacing: normal;
	color: #050f29;
	margin-top: 20px;
}

form {
	width: 820px;
	height: 94px;
	margin-top: 60px;
	position: relative;
}

form span {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.33;
	letter-spacing: normal;
	color: #828794;
}

.form-phone {
	position: relative;
	margin-left: 30px;
	width: 250px;
	height: 100%;
}

.form-name{
	width: 250px;
	height: 100%;
}

input {
	width: 230px;
	height: 64px;
	border-radius: 60px;
	border: 1px solid #eff1f6;
	margin-top: 6px;
	outline: none;
	padding-left: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.56;
	letter-spacing: normal;
	color: #1f2435;
}

.call-me-button {
	margin-left: 30px;
	cursor: pointer;
	height: 64px;
	width: 250px;
	background-image: linear-gradient(104deg, #ffa62e, #fb962e 20%, #f8852e 40%, #f3742d 60%, #ef612d 80%, #ea4d2c);
	border-radius: 32px;
	box-shadow: 0 15px 60px -20px #ef612d;
	text-align: center;
	position: absolute;
	top: 30px;
}

.call-me-button span{
	font-family: 'PT Sans', sans-serif;
	font-size: 22px;
	font-weight: bold;
	font-style: normal;
	line-height: 1.36;
	letter-spacing: normal;
	color: #ffffff;
	position: relative;
	top: 16px;
}